@import "../Variables.scss";

.aboutus {
  margin-top: 80px;
  &_head {
    &_content {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: 96px;
      margin-bottom: 40px;
    }
  }

  &_bottom {
    margin-top: 50px;
    text-align: left;
  }
}

.title {
  font-family: "Unbounded";
  font-weight: 600;
  font-size: 48px;
  line-height: 112.4%;
  letter-spacing: 0.04em;
  text-align: start;
  flex: 1.1;
}

.subtitle {
  text-align: end;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  flex: 0.9;
}
